name: Ratio Monitor

on:
  schedule:
    - cron: "*/5 * * * *"   # run every 5 minutes
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install axios

      - name: Run script
        env:
          TELEGRAM_BOT: ${{ secrets.TELEGRAM_BOT }}
          TELEGRAM_CHAT: ${{ secrets.TELEGRAM_CHAT }}
        run: node script.js
